In [1]:
x=2
type(x)

int

In [2]:
x=2.8
type(x)

float

In [3]:
a1 = True
b2 = False
type(a1)

bool

In [4]:
a1='vidhya'
type(a1)

str

In [5]:
y=1.0-243j
type(y)

complex

In [6]:
print(y)

(1-243j)

In [7]:
print(y.real,y.imag)

1.0 -243.0

In [8]:
fiveth=5
one=1
fiveth
one

1

In [9]:
fiveth=5
one=1
print(fiveth)
print(one)

5
1

In [10]:
two=2
two

2

In [11]:
two='two'
two

'two'

In [12]:
'vidhya'+'2426'

'vidhya2426'

In [13]:
'vidhya'+str(2426)

'vidhya2426'

In [14]:
True and False

False

In [15]:
True and True

True

In [16]:
False and False

False

In [17]:
False and Tre

False

In [18]:
True or True

True

In [19]:
True or False

True

In [20]:
False or False

False

In [21]:
False or True

True

In [22]:
not True

False

In [23]:
not False

True

In [24]:
True is True

True

In [25]:
True is False

False

In [26]:
False is False

True

In [27]:
False is True

False

In [28]:
'a' is 'a'

True

In [29]:
'a' is 'b'

False

In [30]:
i=3
if i<3:
    print('less than 3')
elif i<5:
    print('less than 5')
else:
    print('5 or more')

less than 5

In [31]:
i=3
if i<3:
    print('less than 3')
elif i<5:
    print('less than 2')
else:
    print('5 or more')

less than 2

In [32]:
i=7
if i<3:
    print('less than 3')
elif i<5:
    print('less than 2')
else:
    print('5 or more')

5 or more

In [33]:
k=50
if k<25:
    print('less than 25')
elif k<55:
    print('less than 55')
else:
    printf('55 or more')

less than 55

In [34]:
l = []
l

[]

In [35]:
l=list()
l

[]

In [36]:
l=['d','v','2426']
l

['d', 'v', '2426']

In [37]:
l=[89,90,99]
l

[89, 90, 99]

In [38]:
l=['d','v','2426']
type(l)

list

In [39]:
l1=list(l)
l1

['d', 'v', '2426']

In [40]:
list("vidhya")

['v', 'i', 'd', 'h', 'y', 'a']

In [41]:
l=[]
l.append('d')
l.append('v')
l.insert(1,56)
l

['d', 56, 'v']

In [42]:
l=[24,26]
print(l)
l.append('d')
print(l)
l.append('v')
print(l)
l.insert(1,56)
l

[24, 26]
[24, 26, 'd']
[24, 26, 'd', 'v']

[24, 56, 26, 'd', 'v']

In [43]:
for vidhya in l:
    print(vidhya)

24
56
26
d
v

In [44]:
for i in l:
    print(i)

24
56
26
d
v

In [45]:
numbers=[2,3,4,5,6,7,8]
sum=0
for val in numbers:
    sum=sum+val
print("the sum is",sum)
sum

the sum is 35

35

In [46]:
numbers=[2,3,4,5,6,7,8]
sum=1
for val in numbers:
    sum=sum+val
print("the sum is",sum)
sum

the sum is 36

36

In [47]:
numbers=[2,3,4,5,6,7,8]
sum=45
for val in numbers:
    sum=sum-val
print("the sum is",sum)
sum

the sum is 10

10

In [48]:
digits = [12,23,45]
for i in digits:
    print(i)
else:
    print("no items left")

12
23
45
no items left

In [49]:
n=int(input("enter n:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("the sum is",sum)

enter n:10
the sum is 55

In [50]:
n=int(input("enter n:"))
sum=0
i=2
while i<=n:
    sum=sum+i
    i=i+1
print("the sum is",sum)

enter n:25
the sum is 324

In [51]:
n=int(input("enter n:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("the sum is",sum)

enter n:50
the sum is 1275

In [52]:
print(range(20))

range(0, 20)

In [53]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
print(range(4,10))

range(4, 10)

In [55]:
print(list(range(10,32)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [56]:
print(list(range(10,37,5)))

[10, 15, 20, 25, 30, 35]

In [57]:
genre = ['vidhya','dhathri','pooja','varsha']
for i in range(len(genre)):
    print("i like",genre[i])

i like vidhya
i like dhathri
i like pooja
i like varsha

In [58]:
for val in "vidhya":
    if val =="i":
        break
    print(val)
print("the end")

v
the end

In [59]:
for val in "vidhya":
    if val =="v":
        break
    print(val)
print("the end")

the end

In [60]:
for val in "vidhya":
    if val =="y":
        break
    print(val)
print("the end")

v
i
d
h
the end

In [61]:
for val in "vidhya":
    if val =="i":
        continue
    print(val)
print("the end")

v
d
h
y
a
the end

In [62]:
for val in "vidhya":
    if val =="y":
        break
    print(val)
print("the end")

v
i
d
h
the end

In [63]:
for val in "vidhya":
    if val =="y":
        continue
    print(val)
print("the end")

v
i
d
h
a
the end

In [64]:
name=input("what is your name?\n")
type(name)

what is your name?
vidhya

str

In [65]:
name=input("what is your name?\n")
type(name)

what is your name?
dhathri

str

name=int(input("what is your name?\n"))
type(name)

In [66]:
name=float(input("what is your name?\n"))
type(name)

what is your name?
24.34

float

In [67]:
age=input("what is your age?")
print("your age is:",age)
type(age)

what is your age?vd
your age is: vd

str

In [68]:
age=int(input("what is your age?"))
print("your age is:",age)
type(age)

what is your age?20
your age is: 20

int

In [69]:
age=float(input("what is your age?"))
print("your age is:",age)
type(age)

what is your age?20.11
your age is: 20.11

float

In [70]:
name=input("what is your name?")
print("it was nice talking you " + name +"!")
age= input("enter your age?")
print("hey,you are already"+ age +" years old,"+ name +"!")

what is your name?vidhya
it was nice talking you vidhya!
enter your age?20
hey,you are already20 years old,vidhya!

## name=input("what is your name?")
print("it was nice talking to you" +name+"!")
age= input("enter your age?")
print("hey,you are already"+age+"years old "+name+"!")